.contact-form {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    /* max-width: 600px; */
    align-items: flex-start;
    width: 75%;
    margin: 0px auto;
    
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid var(--text-primary);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.contact-form input[type="submit"] {
    background-color: var(--text-accent);
    color: var(--bg-primary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(250, 189, 47, 0.2);
}