.itch-embed {
  display: block;
  width: 100%;
  height: 600px;
  max-width: 80%;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
}

.jam-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .jam-grid {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0rem;
        margin-bottom: 2rem;
    }
}