/* ==================================== */
/* ========= ABOUT SECTION =============== */
/* ==================================== */
.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

.about-text {
    font-size: 1rem;
    color: var(--text-secondary);
    line-height: 1.8;
}

.about-text p {
    margin-bottom: 1.5rem;
}


.skills-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skills-list {
    gap: 0.5rem;
    list-style: none;
}

.skills-list li {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
    color: var(--text-secondary);
    position: relative;
    padding-left: 1rem;
}

.skills-list li::before {
    content: '▸';
    position: absolute;
    left: 0;
    color: var(--text-accent);
}

@media (max-width: 768px) {
    .about-grid {
        grid-template-columns: 1fr;
    }

    .skills-list {
        grid-template-columns: 1fr;
    }
}

