<footer>
    <div class="container">
        <ul>
            <li><a href="/resources/pdf/resume_hunter-baker.pdf">Resume</a></li>
            <li> | </li>
            <li><a href="mailto:hunter.baker.b@gmail.com">hunter.baker.b@gmail.com</a></li>
        </ul>
        <ul>
            <li><a href="https://github.com/hutnerr">GitHub</a></li>
            <li> | </li>
            <li><a href="https://www.linkedin.com/in/hunter-b-baker/">LinkedIn</a></li>
            <li> | </li>
            <li><a href="https://leetcode.com/u/hutnerr/">LeetCode</a></li>
            <li> | </li>
            <li><a href="https://hutnerr.itch.io/">itch.io</a></li>
        </ul>
    </div>
</footer>