<header>
    <div class="navbar">
        <a class="navbar-item" href="/index.html">Home</a>
        <a class="navbar-item" href="/pages/core/projects.html">Projects</a>
        <a class="navbar-item" href="/pages/core/blog.html">Blog</a>
        <div class="navbar-item dropdown">
            <p class="dropdown-title">Contact</p>
            <div class="dropdown-content">
                <a class="dropdown-item" href="https://github.com/hutnerr">GitHub</a>
                <a class="dropdown-item" href="mailto:hunter.baker.b@gmail.com">Email</a>
                <a class="dropdown-item" href="https://www.linkedin.com/in/hunter-b-baker/">LinkedIn</a>
                <a class="dropdown-item" href="https://leetcode.com/u/hutnerr/">LeetCode</a>
                <a class="dropdown-item" href="https://hutnerr.itch.io/">itch.io</a>
                <a class="dropdown-item" href="/resources/pdf/resume_hunter-baker.pdf">Resume</a>
            </div>
        </div>
        <div class="navbar-item dropdown">
            <p class="dropdown-title">Other</p>
            <div class="dropdown-content">
                <a class="dropdown-item" href="/pages/core/experience.html">Experience</a>
                <a class="dropdown-item" href="/pages/core/classhistory.html">Class History</a>
                <a class="dropdown-item" href="/pages/core/certificates.html">Badges &amp; Certs</a>
                <a class="dropdown-item" href="/pages/core/game-jams.html">Game Jams</a>
            </div>
        </div>
    </div>
</header>