<nav>
    <div class="nav-bar">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/core/blog.html">Blog</a></li>
            <li><a href="/pages/core/projects.html">Projects</a></li>
            <li><a href="/pages/core/other.html">Other</a></li>
        </ul>
    </div>
    <div class="nav-menu">
        <!-- <div class="nav-dot active" data-section="hero"></div>
        <div class="nav-dot" data-section="about"></div>
        <div class="nav-dot" data-section="work"></div>
        <div class="nav-dot" data-section="contact"></div> -->
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4J8LXCJ31S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-4J8LXCJ31S');
    </script>

</nav>