<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATE - TITLE</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/resources/images/my_rat_pfp_nobg.png">
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-4J8LXCJ31S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4J8LXCJ31S');
</script>

<body>
    <div id="background"></div>
    <div id="header"></div>

    <main id="main-container">
        <h1 id="main-header">HEADER</h1>
        <section>
            <h2>TITLE</h2>
        </section>
        <div class="button-grid">
            <div class="button-left">
                <a href="#" class="btn">← Previous</a> 
            </div>
            <div class="button-right">
                <a href="#" class="btn btn-primary">Next →</a>
            </div>
        </div>
    </main>
    
    <div id="footer"></div>
    <script src="/scripts/components.js"></script>
</body>

</html>