    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
            
            <div class="grid-container">
                <div class="content-right">

                </div>
                <div class="content-right">
    <pre><code class="language-python">
    # This is a comment
    print("Hello, World!")
    for i in range(10):
        pass</code></pre>
                </div>
            </div>