<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIP</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/resources/images/my_rat_pfp_nobg.png">
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-4J8LXCJ31S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-4J8LXCJ31S');
</script>

<body>
    <div id="background"></div>
    <div id="header"></div>
    <main id="main-container">
        <h1 id="main-header">NEW PAGE TEMPLATE</h1>
        <section>
            <br>
            <br>
            <br>
            <br>
            <h1 id="wip">This page is under construction</h1>
            <br>
            <br>
            <br>
            <br>
        </section>
    </main>
    <div id="footer"></div>
    <script src="/scripts/components.js"></script>
</body>
</html>