@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

/* 
-------------------------
===== CSS Variables =====
------------------------- 
*/
:root {
  --font: "JetBrains Mono", monospace;
  --color-primary: #282828;
  --color-secondary: #ebdbb2;
  --color-tertiary: #ffbf00;
}

/* 
---------------------------
===== Baseline Styles =====
--------------------------- 
*/
* {
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: var(--color-tertiary);
}

a:hover {
  color: #dd908b;
}

h1,
h2,
h3,
p {
  color: var(--color-secondary);
}

body {
  margin: 0px;
  background-color: var(--color-primary);
}

li {
  color: var(--color-secondary);
}

/* 
----------------------------
===== Custom Scrollbar =====
----------------------------
*/
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-secondary) var(--color-primary);
}

/* make the scrollbar always present */
html {
  overflow-y: scroll;
}

/* 
-----------------------------------
===== Navigation Bar / Navbar =====
-----------------------------------
*/
/* the base navbar container div */
.navbar {
  overflow: hidden;
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 400px) {
  .navbar {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar-item {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  .navbar {
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .navbar-item {
    font-size: 26px;
  }
}

@media (min-width: 900px) {
  .navbar {
    margin: 0px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .navbar-item {
    font-size: 32px;
  }
}

/* for each item inside of the navbar */
.navbar-item {
  display: inline;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 170px;
  color: var(--color-tertiary);
}

.navbar-item:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.navbar-item a {
  text-decoration: none;
  color: inherit;
}

.navbar-item a:hover {
  color: var(--color-primary);
}

/* 
---------------------------
===== Navbar Dropdown =====
---------------------------
*/
.dropdown {
  float: left;
  overflow: hidden;
  width: 150px;
  padding: 10px;;
  padding-left: 0px;
  text-align: center;
}

.dropdown-item:hover {
  color: white;
}

.dropdown-content {
  display: none; /* hide the dropdown content by default */
  position: absolute;
  width: inherit;
  padding-right: 10px;
  background-color: var(--color-tertiary);
  z-index: 1; /* make sure the dropdown is on top of everything */
}

.dropdown-content a {
  float: none;
  color: var(--color-primary);
  display: block;
  text-align: left;
  font-size: 16px;
  padding: 6px;
}

.dropdown:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* make the cursor just be a pointer instead of a bar */
.dropdown-title:hover {
  cursor: default;
}

/* while we're hovering within the dropdown, 
make sure the navbar item keeps its styling */
.dropdown:hover .navbar-item {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

/* 
---------------------------
===== Header =====
---------------------------
*/

@media (max-width: 400px) {
  header {
    margin: 0;
    height: 50px;
  }
}

@media (min-width: 600px) {
  header {
    margin: 0;
    margin-right: 5%;
    margin-left: 5%;
    height: 50px;
  }
}

@media (min-width: 900px) {
  header {
    margin: 0;
    margin-right: 10%;
    margin-left: 10%;
    height: 50px;
  }
}

/* 
---------------------------
===== Main =====
---------------------------
*/

@media (max-width: 600px) {
  #main-container {
    /* margin-left: 2%; */
    /* margin-right: 5%; */
  }
}

@media (min-width: 900px) {
  #main-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1200px) {
  #main-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

main {
  margin: 0;
}

/* 
---------------------------
===== Footer =====
---------------------------
*/
footer p {
  text-align: center;
  margin-bottom: 10px;
}

footer ul {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0px;
}

footer ul li {
  color: var(--color-secondary);
}

/* 
---------------------------
===== Sections =====
---------------------------
*/
section {
  border: solid;
  border-color: var(--color-secondary);
  padding: 10px;
  margin: 35px;
}

@media (max-width: 450px) {
  section {
    margin: 18px;
    margin-bottom: 35px;
  }
}

section p {
  margin-left: 20px;
  margin-right: 20px;
}

section h2 {
  margin-bottom: 0px;
}

/* 
---------------------------
===== Individual Project =====
---------------------------
*/
.project ul {
  color: var(--color-secondary);
}

.project-icons {
  color: var(--color-secondary);
  font-size: 25px;
  margin-left: 25px;
}

/* 
---------------------------
===== Skills Section =====
---------------------------
*/
#skill-container {
  display: grid;
}

@media (min-width: 700px) {
  #skill-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 700px) {
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary);
    margin: 0px;
    text-align: left;
  }
  
  .skill h3 {
    margin: 0px;
  }
}

@media (max-width: 700px) {
  .skill {
    color: var(--color-secondary);
    margin: 0px;
  }

  .skill h3 {
    margin: 0px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.skill ul {
  margin: 5px;
  /* list-style: none; */
}

/* 
----------------------------
===== Misc  =====
----------------------------
*/
#main-header {
  text-align: center;
}

#wip {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
/* 
----------------------------
===== Project Page  =====
----------------------------
*/
.grid2x1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}